page-about {

.loginpage .scroll-content
{
	background: -moz-linear-gradient(top, #1c2b36  0%, #186d75 46%);
	background: -webkit-linear-gradient(top,  #1c2b36 0%,#186d75 46%); 
	background: linear-gradient(to bottom,  #1c2b36 0%,#186d75 46%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2b36', endColorstr='#186d75',GradientType=0 ); 
}

.gosignup
{
	text-decoration: none !important;
    font-size: 14px;
    color: #fff;
    float:right;
}

.forgotpassword
{
	float:left;
	color: #dedede;
	margin: 15px 0;
}

.logo
{
	width: 200px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

}
