<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="arrow-back" (click)="closeviews()"></ion-icon>  Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="view animated bounceInUp">
    <ion-grid>
  <ion-row>
    <ion-col col-4>
    <img src="assets/img/profile1.png">
    <span class="distance">0000 km </span><span class="secondary">Profile1 
    <ion-icon color="primary" name="radio-button-on"></ion-icon></span>
    </ion-col>
   

  </ion-row>
</ion-grid>
</ion-content>
