

<ion-header >

  <ion-navbar color="primary">
    <ion-title><ion-icon name="arrow-back" (click)="closepushnotifications()"></ion-icon> PushNotifications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="pushnotifications animated bounceInUp">
<ion-item>
  <ion-label> Chat</ion-label>
  <ion-toggle checked="false" color="primary"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> Post Comments</ion-label>
  <ion-toggle checked="true" color="primary"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> Post Likes</ion-label>
  <ion-toggle checked="false" color="primary"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> Profile Views</ion-label>
  <ion-toggle checked="true" color="primary"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> New Friends</ion-label>
  <ion-toggle checked="false" color="primary"></ion-toggle>
</ion-item>

</ion-content>
