
<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="arrow-back" (click)="closefriends()"></ion-icon>  Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="friends animated bounceInUp">
    <ion-grid>
  <ion-row>
    <ion-col col-4><img src="assets/img/pro8.jpg"><span class="distance">0000 km </span><span color="secondary">Serina <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro5.jpg"><span class="distance">0000 km </span> <span color="secondary">Watson <ion-icon color="danger" name="radio-button-off"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro6.jpg"><span class="distance">0000 km </span> <span color="secondary">Aaliyah <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro4.jpg"><span class="distance">0000 km </span><span color="secondary">Harper <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro2.jpg"><span class="distance">0000 km </span> <span color="secondary">Advik <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro9.jpg"><span class="distance">0000 km </span> <span color="secondary">Johnson <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/profile1.png"><span class="distance">0000 km </span><span color="secondary">Warner <ion-icon color="danger" name="radio-button-off"></ion-icon></span></ion-col>
    <ion-col col-4><img src="assets/img/pro2.jpg"> <span class="distance">0000 km </span><span color="secondary">Olivia <ion-icon color="primary" name="radio-button-on"></ion-icon></span></ion-col>

  </ion-row>
</ion-grid>
</ion-content>
