

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Chat</ion-title>
  </ion-navbar>

	<ion-toolbar color="primary">
	  <ion-title><ion-icon name="arrow-back" (click)="closechatpage()"></ion-icon>  Send To...</ion-title>
	</ion-toolbar>
</ion-header>

<!-- <ion-header >



</ion-header> -->


<ion-content class="chatpage animated bounceInUp">

    <ion-col col-9 class="chatpagewidth1" >
    

          <img src="assets/img/profile1.png" (click)="profilepage()">
          <span class="chatpagewidthspan">Warner :</span> 
          <span class="chatpagewidthspan1" >........., Hi. how are you. .... .. ..?</span>


    </ion-col>




    <ion-col col-9 class="chatpagewidth">

          <img src="assets/img/pro1.jpg" (click)="profilepage()">
          <span class="chatpagewidthspan">Olivia :</span> 
          <span class="chatpagewidthspan1" >Fn....u hw?</span>

    </ion-col>


    <ion-col col-9 class="chatpagewidth1">


          <img src="assets/img/profile1.png" (click)="profilepage()">
          <span class="chatpagewidthspan">Warner :</span> 
          <span class="chatpagewidthspan1" >Well..............:)</span>


    </ion-col>



    <ion-col col-9 class="chatpagewidth">


          <img src="assets/img/pro1.jpg" (click)="profilepage()">
          <span class="chatpagewidthspan">Olivia :</span> 
          <span class="chatpagewidthspan1" >Whats up........?</span>


    </ion-col>



    <ion-col col-9 class="chatpagewidth1">

          <img src="assets/img/profile1.png" (click)="profilepage()">
          <span class="chatpagewidthspan">Warner :</span> 
          <span class="chatpagewidthspan1" >........., Going good....</span>

    </ion-col>



    <ion-col col-9 class="chatpagewidth">

          <img src="assets/img/profile1.png" (click)="profilepage()">
          <span class="chatpagewidthspan">Olivia :</span> 
          <span class="chatpagewidthspan1" >Okay...fine .........,</span>

    </ion-col>






</ion-content>



<ion-footer>
<ion-toolbar class="bottom_type" position="bottom" color="light">
<ion-col col-8 class="bottom_type_first"> 
  <ion-input type="text" value="" placeholder="Type Something...."></ion-input>
</ion-col>
<ion-col col-2 class="bottom_type_second">
  <button ion-button color="primary" clear item-left>
      <ion-icon name="camera"></ion-icon>
  </button>
</ion-col>

<ion-col col-2 class="bottom_type_second">
  <button ion-button color="primary" clear item-left>
      <ion-icon name="send"></ion-icon>
  </button>
</ion-col>
</ion-toolbar>	
</ion-footer>