feedpost {
ion-content
{
	background:#fff!important;
}

.modal textarea {
    margin: 2%;
    width: 96%;
    float: left;
    background: #f4f4f4;
    border: none;
    resize: none;
    padding: 15px;
}
}
