comments {

.comments ion-item textarea
{
  border:none;
  width:100%;
  background:#f8f8f8;
  resize:none; 
  padding:15px;
}

.lightbox_image
{
	background:#000;
}

.lightbox_image img
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

.commentsbottom ion-icon 
{
	color: #32db64!important;
}


}
